<!DOCTYPE html>
<html>
<head>
  <title>Carpool Club</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="container">

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 center-in-parent">
        <%= image_tag "confirmation.png" %>
        <h2>Account successfully confirmed</h2>
      </div>

    </div>

  </div>

</body>
</html>